/* fonts 
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Source Sans Pro', sans-serif;

*/

body {
    padding: 2%;
    background-color: bisque;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
    font-size: 2rem;
}

p {
    font-family: 'Open Sans Condensed', sans-serif; 
    line-height: 1.5;
}

blockquote {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: italic;
}

a {
    text-decoration: none;
    color: black;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: center;
}

.home {
    position: absolute;
    left: 4%;
}

.navitem {
    padding: 0% 2%;
}

/* main */

.section-one {
    padding-top: 1.5rem;
}

.titleHead {
    text-align: center;
}

blockquote {
    text-align: center;
    padding-bottom: 1.5rem;
}

/* footer */

.section-three {
    text-align: center;
    padding-top: .5rem;
}